body {
  background-color: black;
  text-align: center;
}

.divMain {
  text-color: red;
  text-shadow: red 2px 2px;
  text-size: 4em;
  border-style: ridge;
  border-color: silver;
  margin: 10px;

}
