body {
  background-color: black;
  text-align: center;
}

#divMain {
  color: black;
  text-shadow: silver 2px 2px;
  font-size: 2em;
  border-style: ridge;
  border-color: silver;
  margin: 10px;

}
